@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@using ClinicManagementFrontEnd.Classes
@model ClinicManagementCommon.Models.SearchCriteria
@inject ClinicManagementFrontEnd.Lookup.iLookup iLookup
<div class="form-group">
    <div class="row">
        <div class="col-md-6">
            <label asp-for="gender">Gender:</label>
            <select asp-items="iLookup.GetGenders()" asp-for="gender" class="form-control">
                <option value="">Select Gender</option>
            </select>
            <span asp-validation-for="gender" class="text-danger"></span>
        </div>
        <div class="col-md-6">
            <label asp-for="Name">Name:</label>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
    </div>
</div>
<button type="button" id="SearchBtn" class="btn btn-primary">Submit</button>
<div class="card-body">

    <div class="table-responsive-md table-bordered border mb-0">
        <table id="tblReport" class="table table-bordered border-0	table-striped-secondary text-dark-m1 mb-0">
            <thead>
                <tr class="text-black brc-black-tp10">
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div><!-- /.card-body -->
